*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  color: black;
  font-weight: 600;
  font-size: 20px
  
}

img{
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.container{
  width: 250px;
  height: 350px;
  background-color: antiquewhite;
  margin: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px
}

.counter{
  display: flex;
  align-items: center;
}

button{
  background-color: blueviolet;
  height: 25px;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  padding-inline: 10px;
  cursor: pointer;
  margin-inline: 20px;
}